* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/a90f025e601934c11e010ec2b7e5c672.jpg);
    background-size: cover;
}

.box {
    padding: 50px 0;
    width: 800px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    backdrop-filter: blur(50px);
}

.box h1 {
    font-size: 40px;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.333);
    cursor: default;
}

.user-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;

    margin-bottom: 20px;
}

.user-age,
.user-km {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#age, #km {
    width:100px;

    text-align: center;
    font-size: 18px;
    font-weight: bolder;

    border-radius: 7px;
    border: 0;
    outline: none;
    background-color: rgba(0, 98, 255, 0.73);
}

.user-info .tag {
    margin-bottom: 8px;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.333);
    cursor: default;
}

.buttons {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.buttons .submit {
    padding: 5px 10px;
    
    font-variant: small-caps;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 20px 5px rgba(0, 98, 255, 0.496);
    background-color: rgba(0, 98, 255, 0.73);
    cursor: pointer;
}

.buttons .reset {
    margin-left: 5px;
    padding: 3px 8px;

    font-variant: small-caps;
    font-size: 18px;
    border-radius: 20px;
    border: 0;
    color: beige;
    background-color: rgba(255, 0, 0, 0.685);
    box-shadow: 0px 0px 15px 2px rgba(242, 5, 5, 0.57);
    cursor: pointer;
}


.ticket {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.ticket div {
    margin-bottom: 40px;
}

.ticket #price {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    align-self: baseline;
    line-height: 0;
    cursor: default;
}

.ticket #price-shadow {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    align-self: baseline;
    cursor: default;

    transform: scaleX(-1) rotate(180deg);
    filter: opacity(15%);
}

